@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, "sans-serif";
}
.active {
  @apply border-b-2 border-gray-300 dark:border-gray-600;
}
.nunito {
  font-family: Nunito, "sans-serif";
}
.skillcard {
  @apply flex lg:w-96 md:w-80 w-full gap-5 dark:bg-gray-800 bg-gray-50 rounded-md p-4 flex-col;
}
.headline {
  @apply text-2xl font-medium;
}
.btn {
  @apply rounded items-center justify-center flex;
}
.btn-secondary {
  @apply border hover:bg-gray-100 dark:hover:bg-gray-700 dark:border-gray-700;
}
.btn-danger {
  @apply bg-red-500 hover:bg-red-600 text-gray-50;
}
.btn-primary {
  @apply bg-blue-500 text-white hover:bg-blue-600;
}
.btn-success {
  @apply bg-green-500 text-white hover:bg-green-600;
}
.success-status {
  @apply text-green-600 bg-green-600 bg-opacity-10 py-2 rounded;
}
.error-status {
  @apply text-red-600 bg-red-600 bg-opacity-10 py-2 rounded;
}
@layer utilities {
  .prose,
  .prose-lg {
    @apply text-gray-900 dark:text-white max-w-none;
    p,
    li,
    strong,
    ul,
    h1,
    h2,
    h3,
    h4,
    h5,
    code,
    a,
    h6 {
      @apply text-gray-900 dark:text-white;
    }
    code {
      @apply bg-gray-200 dark:bg-gray-700 p-1 rounded;
    }
    pre {
      @apply bg-gray-900 dark:bg-gray-800;
      code {
        @apply bg-transparent dark:bg-transparent;
      }
    }
  }
}
